body { 
    padding:0px!important; /*this padding hack fixes things */
    margin: 0px;
}

.header-wrapper {
    background-color: black;
    height: 33px;
}

.header-wrapper .container {
    height: 33px;
}

.subnav-wrapper {
    margin-bottom: 1em;
    margin-top: 0.5em;
    border-bottom: 1px solid lightgrey;
    height: 20px;
    background-color: white;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#DEDEDE));
    background-image: -moz-linear-gradient(19% 75% 90deg,#DEDEDE, #FFFFFF 100%);
}


.title {
    padding-top: 4px;
}

.attributes dt, .attributes dd { margin: 0; padding: 0; }
.attributes dt { float: left; width: 10em; }

.footer-wrapper {
    margin-top: 5em;
    font-size: 90%;
    padding-top: 1em;
    border-top: 1px solid grey;
    color: grey;
}

.footer-wrapper a {
    color: grey;
}



pre {
    padding-top: 0;
    margin-top: 0;
    font-family:  Monaco, Courier, monospaced;
}

pre.wrapped {
    font-family:  Monaco, Courier, monospaced;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

table.listing td {
}

table.listing tr td {
    cursor: pointer;
}

table.listing thead th {
    background-color: #EBEBEB;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EBEBEB), to(#DEDEDE));
    background-image: -moz-linear-gradient(19% 75% 90deg,#DEDEDE, #EBEBEB 100%);
    border-collapse: collapse;
    text-shadow:2px 2px 2px white;
}

table.listing tr.even td {
    background-color: #e5ecf9;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e5ecf9), to(#ebf0fa));
    background-image: -moz-linear-gradient(19% 75% 90deg,#ebf0fa, #e5ecf9 100%);
}

table.listing tr:hover td {
    background-color: #FAF1B4;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FAF1B4), to(#f0e390));
    background-image: -moz-linear-gradient(19% 75% 90deg,#f0e390, #FAF1B4 100%);
}

h1, h2, h3 { 
    font-family: 'Droid Serif', arial, serif;
    border-bottom: 1px solid lightgrey;
}

.help {
    color: grey;
}

.subnav {
    border-bottom: 2px solid lightgrey;
}

a {
    color: rgb(65, 131, 196);
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: rgb(65, 131, 196);
    text-decoration: underline;
}

.top-links {
    padding-top: 8px;
}

.top-links a {
    color: lightgrey;
    text-decoration: none;
    border: 0px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 25px;
    z-index: 100;
}

.top-links a.selected {
    color: white;
    text-decoration: underline;    
}

.top-links a:hover {
    color: white;
    text-decoration: underline;
}

label, dt {
    color: grey;
}