.header-wrapper {
    background-color: black;
    border-width: 0px 0px 1px 0px;
    margin-bottom: 1em;
    height: 31px;
}

body {
}

.title {
    padding-top: 4px;
}

.top-links a {
    color: white;
    text-decoration: none;
    position: relative;
    top: 6px;
    padding: 10px;
    border: none;
}

.selected {
    background-image: url(/media/img/arrow.png);
    background-repeat: no-repeat;
    background-position: 0px 22px;
}

.attributes dt, .attributes dd { margin: 0; padding: 0; } 
.attributes dt { float: left; width: 10em; }

.footer-wrapper {
    margin-top: 5em;
    font-size: 90%;
    padding-top: 1em;
    border-top: 1px solid grey;
    color: grey;
}

.footer-wrapper a {
    color: grey;
}

.priority_1 {
    background-color: #F6CECE !important;
    color: black;
}
.priority_2 {
    background-color: #F6E3CE !important;
    color: black;
}
.priority_3 {
    background-color: #F5F6CE !important; 
    color: black;   
}

pre {
    font-size: 1.2em;
}

table.listing tr td {
    cursor: pointer;
    border-left: 1px solid lightgrey;    
}

table.listing thead th {
    background: whitesmoke;
    border-left: 1px solid lightgrey;
    border-collapse: collapse;
}

h1, h2, h3 { font-family: 'Droid Serif', arial, serif; }

.help {
    color: grey;
}