{% extends "base.html" %}
{% block content %}
<div class="span-18">
{% include "subnav.html" %}
{% if page.object_list %}
<table class="listing">
    <thead>
        <tr>
            <th>Most recent</th>
            <th>Status</th>
            <th>Type</th>
            <th>UID</th>
    </thead>
    <tbody>
        {% for group in page.object_list %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td><a href="{% url error-list %}?group={{ group.uid }}">{{ group.timestamp|date:"d M, Y P" }}</a></td>
            {% with group.sample as sample %}
            <td>{{ sample.status }}</td>
            <td>{{ sample.type_short }}</td>
            <td>{{ sample.uid }}</td>
            {% endwith %}
        </tr>
        {% endfor %}      
    </tbody>
</table>
{% else %}
<p>No errors found. Could be you've not sent any errors yet. Perhaps you've got some filters
    set in the page, in which case <a href="{% url error-list %}">reset them</a>.</p>
{% endif %}
</div>
{% include "pagination.html" %}
{% endblock %}