{% extends "base.html" %}
{% block content %}
<div class="span-18">
{% include "subnav.html" %}
{% if page.object_list %}
<table class="listing">
    <thead>
        <tr>
            <th>Unread</th>
            <th>Status</th>
            <th>Details</th>
            <th>Ago</th>
            <th>UID</th>
            <th>Domain</th>
            <th>Path</th>
    </thead>
    <tbody>
        {% for error in page.object_list %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td>{% if error.read %}{% else %}<img src="/media/img/read.png" alt="Unread" />{% endif %}</td>
            <td class="priority_{{ error.priority }}">{{ error.status }}</td>                                                            
            <td class="priority_{{ error.priority }}"><a href="{% url error-view error.id %}">{{ error.title_short }}</a></td>
            <td><abbr title="{{ error.timestamp|date:'d M, Y P' }}">{{ error.timestamp|timesince }}</abbr></td>
            <td>{{ error.uid }}</td>
            <td>{{ error.domain }}</td>                   
            <td>{{ error.query_short }}</td>
        </tr>
        {% endfor %}      
    </tbody>
</table>
{% else %}
<p>No errors found. Could be you've not sent any errors yet. Perhaps you've got some filters
    set in the page, in which case <a href="{% url error-list %}">reset them</a>.</p>
{% endif %}
</div>
<div class="span-5">
    {% include "filter.html" %}
</div>
{% include "pagination.html" %}
{% endblock %}