{% extends "base.html" %}
{% block content %}
<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>UID</th>
            <th>URL</th>
            <th>Status</th>
            <th>Type</th>
            <th>Domain</th>
    </thead>
    <tbody>
        {% for error in page %}
        
        <tr class="{% cycle 'odd' 'even' %}">
            <td class="priority_{{ error.priority }}"><a href="{% url error-view error.id %}">{{ error.timestamp|date:"d M, Y g:ia" }}</a></td>
            <td>{{ error.uid }}</td>
            <td>{{ error.url }}</td>
            <td>{{ error.status }}</td>                                                            
            <td>{{ error.type_short }}</td>
            <td>{{ error.domain }}</td>                   
        </tr> 
        {% endfor %}      
    </tbody>
    
</table>
{% endblock %}