{% extends "base.html" %}
{% block title %}| {{ error.title|truncatewords:3}}{% endblock %}
{% block content %}
<h2>{{ error.title }}</h2>
<p><a href="{% url error-list %}">&laquo; Error list</a></p>
<dl class="attributes">
    <dt>URL:</dt>
    <dd>{% if error.raw %}<a href="{{ error.raw }}">{{ error.raw }}</a>{% else %}-{% endif %}</dd>
    <dt>Received:</dt>
    <dd>{{ error.timestamp|date:'d M, Y P' }}</dd>
    {% if error.error_timestamp %}<dt>Occured:</dt>
    <dd>{{ error.error_timestamp|date:'d M, Y P' }}</dd>{% endif %}
    {% if error.priority %}<dt>Priority:</dt>
    <dd>{{ error.priority }}</dd>{% endif %}
    {% if error.status %}<dt>Status:</dt>
    <dd>{{ error.status }}</dd>{% endif %}
    {% if error.type %}<dt>Type:</dt>
    <dd>{{ error.type }}</dd>{% endif %}
    {% if error.server %}<dt>Server:</dt>
    <dd>{{ error.server }}</dd>{% endif %}
    {% if error.server %}<dt>Server:</dt>
    <dd>{{ error.server }}</dd>{% endif %}
    {% if error.uid %}<dt>Unique ID:</dt>
    <dd>{{ error.uid }}</dd>{% endif %}
    {% if error.user_agent_short %}<dt>Browser:</dt>
    <dd>{{ error.user_agent_short }}</dd>{% endif %}
    {% if error.operating_system %}<dt>Operating system:</dt>
    <dd>{{ error.operating_system }}</dd>{% endif %}
</dl>
{% if error.msg or error.traceback or error.request %}
<h3>Details</h3>
<dl class="detail">
    {% if error.msg %}<dt>Message</dt>
    <dd><pre>{{ error.msg }}</pre></dd>{% endif %}
    {% if error.traceback %}<dt>Traceback</dt>
    <dd><pre>{{ error.traceback }}</pre></dd>{% endif %}
    {% if error.request %}<dt>Request</dt>
    <dd><pre>{{ error.request }}</pre></dd>{% endif %}
</dl>
{% endif %}
{% if error.get_similar %}
<h3>Similar</h3>
<ul>
{% for similar in error.get_similar %}
        <li><a href="{{ similar.get_absolute_url }}">{{ similar.title }}</a> {{ similar.timestamp|date:'d M, Y P' }}</li>
{% endfor %}
</ul>
<p><a href="{% url error-list %}?group={{ error.group.uid }}">&raquo; more</a></p>
{% endif %}

{% endblock %}