{% extends "base.html" %}

{% block title %}| {{ error.title|truncatewords:3}}{% endblock %}
{% block subnav %}{% include "subnav.html" %}{% endblock %}


{% block content %}


<h2>{{ error.title }}</h2>
<div class="span-20">
<p><label>URL:</label> {% if error.raw %}<a href="{{ error.raw }}">{{ error.raw|trunc:150 }}</a>{% else %}-{% endif %}</p>
<div class="span-9">
<dl class="attributes">
    <dt>Received:</dt>
    <dd><abbr title="{{ error.timestamp|date:'d M, Y P' }}">{{ error.timestamp|timesince }}</abbr></dd>
    {% if error.error_timestamp %}<dt>Occured:</dt>
    <dd><abbr title="{{ error.error_timestamp|date:'d M, Y P' }}">{{ error.error_timestamp|timesince }}</abbr></dd>{% endif %}
    {% if error.priority %}<dt>Priority:</dt>
    <dd>{{ error.priority }}</dd>{% endif %}
    {% if error.status %}<dt>Status:</dt>
    <dd>{{ error.status }}</dd>{% endif %}
    {% if error.type %}<dt>Type:</dt>
    <dd>{{ error.type }}</dd>{% endif %}
    {% if error.server %}<dt>Server:</dt>
    <dd>{{ error.server }}</dd>{% endif %}
    {% if error.ip %}<dt>Reporting IP:</dt>
    <dd>{{ error.ip }}</dd>{% endif %}
    {% if error.username %}<dt>User:</dt>
    <dd>{{ error.username }}</dd>{% endif %}
    {% if error.uid %}<dt>Unique ID:</dt>
    <dd>{{ error.uid }}</dd>{% endif %}
    {% if error.user_agent %}<dt>Browser:</dt>
    <dd>
        {% if error.user_agent_short %}
            <abbr title="{{ error.user_agent }}">{{ error.user_agent_short }}
        {% else %}
            {{ error.user_agent }}
        {% endif %}
    </dd>
    {% endif %}
    {% if error.operating_system %}<dt>Operating system:</dt>
    <dd>{{ error.operating_system }}</dd>{% endif %}
</dl>
</div>
<div class="span-9">
{% if error.has_group %}
{% if user.is_staff %}
<label>In group</label>
{% if error.get_similar %}
<ul>
{% for similar in error.get_similar %}
        <li><a href="{{ similar.get_absolute_url }}">{{ similar.title }}</a> &bull; <abbr title="{{ similar.timestamp|date:'d M, Y P' }}">{{ similar.timestamp|timesince }}</abbr></li>
{% endfor %}
</ul>
{% else %}
<p>This is the only error in this group.</p>
{% endif %}
<label>Issues</label>
{% if error.group.issuegroup_set.count %}
<ul>
{% for issuegroup in error.group.issuegroup_set %}
    <li>{{ issuegroup.issue.number }} &bull; <a href="{% url issues-view issuegroup.issue.number %}">{{ issuegroup.issue.title }}</a> {{ issuegroup.issue.status|capfirst }}</li>
{% endfor %}
</ul>
{% else %}
<p>There are no issues on this.</p>
{% endif %}
{% endif %}
{% endif %}
</div>
<div class="clear"></div>
{% if error.msg or error.traceback or error.request %}
<h3>Details</h3>
<dl class="detail">
    {% if error.msg %}<dt>Message</dt>
    <dd><pre>{{ error.msg }}</pre></dd>{% endif %}
    {% if error.traceback %}<dt>Traceback</dt>
    <dd><pre>{{ error.traceback }}</pre></dd>{% endif %}
    {% if error.request %}<dt>Request</dt>
    <dd><pre>{{ error.request }}</pre></dd>{% endif %}
</dl>
{% endif %}
</div>
<div class="span-4 actions last">
{% if error.public %}
    <p><b>This error is public and visible by anyone.</b>
    {% if user.is_staff %}<form method="post" action="{% url error-toggle error.id %}">
        <button class="button orange" type="submit">Make private</button>
    </form>{% endif %}
    </p>
{% else %}
    <p>{% if user.is_staff %}<form method="post" action="{% url error-toggle error.id %}">
    <button class="button" type="submit">Make publicly visible</button>
    </form>{% endif %}</p>
{% endif %}
{% if user.is_staff %}
    <p><a class="button-wrapper" href="{% url issues-add %}?raw={{ error.raw }}&amp;title={{ error.title }}&amp;group={{ error.group.id }}&amp;project={{ error.group.project_url.project.id }}"><button class="button green">Add issue on this</button></a></p>
    <p><a class="button-wrapper" href="{% url error-list %}?group={{ error.group.id }}"><button class="button green">Errors in this group</button></a></p>
{% endif %}
</div>
{% endblock %}
