{% extends "base.html" %}
{% load arecibo %}
{% block subnav %}{% include "subnav.html" %}{% endblock %}
{% block content %}
<div class="span-18">
{% if page.object_list %}
<table class="listing">
    <thead>
        <tr>
            <th>Most recent</th>
            <th>Status</th>
            <th>Type</th>
            <th>Count</th>
            <th>Path</th>
            <th>Project</th>
            <th>Stage</th>
    </thead>
    <tbody>
        {% for group in page.object_list %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td><a href="{% url error-list %}?group={{ group.id }}">{{ group.timestamp|date:"d M, Y P" }}</a></td>
            {% with group.sample as sample %}
            <td>{{ sample.status }}</td>
            <td>{{ sample.type|trunc:20 }}</td>
            <td>{{ group.count }}</td>
            <td>{{ sample.query|trunc:20 }}</td>
            <td>{{ group.project_url.project.name }}</td>
            <td>{{ group.project_url.get_stage_display }}</td>
            {% endwith %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No errors found. Could be you've not sent any errors yet. Perhaps you've got some filters
    set in the page, in which case <a href="{% url group-list %}">reset them</a>.</p>
{% endif %}
</div>
<div class="span-5">
    {% include "filter.html" %}
</div>
{% include "pagination.html" %}
{% endblock %}
