{% extends "base.html" %}
{% block subnav %}{% include "issue_subnav.html" %}{% endblock %}
{% block content %}
<div class="span-24">
    <h2>{{ issue.number }} &bull; {{ issue.title }}</h2>
</div>
<div class="span-20">
    <p>Add a comment, change status or assignee.</p>
    <form method="post" class="issue">
        {{ form.as_custom }}
        <div class="span-8 clear"><input type="submit" value="Add"></div>
    </form>
</div>
<div class="span-4 last actions">
    <p><a class="button-wrapper" href="{% url issues-view issue.number %}"><button class="button green">Return to issue</button></a></p>
</div>
{% endblock %}
