{% extends "base.html" %}
{% block subnav %}{% include "issue_subnav.html" %}{% endblock %}
{% block content %}
<div class="span-24">
    <h2>{{ issue.number }} &bull; {{ issue.title }}</h2>
</div>
<div class="span-20">
<p>Full log of changes to this issue.</p>
<ul>
    {% for log in page.object_list %}
        {% include "issue_log_snippet.html" %}
    {% empty %}
        <li>No log.</li>
    {% endfor %}
</ul>
</div>
<div class="action span-4 last">
    <p><a class="button-wrapper" href="{% url issues-view issue.number %}"><button class="button green">Return to issue</button></a></p>
</div>
{% endblock %}
