<h2>Error</h2>

<p>An error has occurred in completing that request. This could be by
   design, or it might be an error. This error has been reported 
   and your reference number is: <b><%= @arecibodata[:uid] %></b>.</p>
<p>Please contact your system administrator for more information.</p>
