{% extends "base.html" %}
{% block subnav %}
<div class="span-24">
    <p>URLs and keys &bull; <a href="{% url user-list %}">Users</a></p>
</div>
{% endblock %}
{% block content %}
<dl>
<dt>Public key</dt>
<dd>{{ public_key }}
    <p class="help">Use this in your error reporting</p>
</dd>
<dt>URL for posting</dt>
<dd><a href="{{ site_url }}/feed/{{ private_key }}/">{{ site_url }}{% url error-post %}</a>
    <p class="help">Use this in your libraries for posting</p>
    </dd>
<dt>E-mail for posting</dt>
<dd>string@{{ app_id }}.appspotmail.com
    <p class="help">Where to send email (<a href="http://code.google.com/appengine/docs/python/mail/receivingmail.html">more details</a>)</dd>
<dt>Private key</dt>
<dd>{{ private_key }}
    <p class="help">This is for reading API and RSS</p>
    </dd>
<dt>RSS Feed</dt>
<dd><a href="{{ site_url }}/feed/{{ private_key }}/">{{ site_url }}/feed/{{ private_key }}/</a>
    <p class="help">You can also filter the RSS feed by any of the filters.</p></dd>
</dl>

<p>For logs and admin, use <a href="http://appspot.com">Google App Engine console</a>.</p>

{% endblock %}